@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

p {
    margin-bottom: 0rem;
}

.flex {
    display: flex;
    justify-content: center;
}

.main_section {
    padding-top: 110px;
    height: 100vh;
}

.GM-Sans {
    font-family: 'GmarketSansMedium';
}

footer {
    /* background-color: var(--bs-dark); */
    background-color: #000;
    height: 290px;
}
