@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

p {
    margin-bottom: 0rem;
}

.flex {
    display: flex;
    justify-content: center;
}

.main_section {
    padding-top: 110px;
    height: 100vh;
}

.GM-Sans {
    font-family: 'GmarketSansMedium';
}

footer {
    /* background-color: var(--bs-dark); */
    background-color: #000;
    height: 290px;
}

.small-circle {
    background-color: #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.small-circle > i {
    line-height: 40px;
    margin: 0 auto;
}

.small-circle > img {
    object-fit: contain;
}

.footer-naver-blog {
    width: 30px;
    height: 30px;
    margin: 5px auto;
}

.kakao-black {
    width: 25px;
    height: 25px;
    margin: 8px auto;
}

.naver-talk-black {
    width: 33px;
    height: 33px;
    margin: 3.5px auto;
}

.fa-phone {
    font-size: 1.2em;
}

.fa-youtube {
    font-size: 1.5em;
}

.fa-instagram {
    font-size: 1.7em;
}

.footer-wrap {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

.footer-underline-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ffcb09;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo > img:first-child {
    width: 50px;
    object-fit: contain;
    margin-right: 10px;
}

.footer-logo > img:last-child {
    height: 50px;
    object-fit: contain;
}

.contents-small-circles,
.contact-small-circles {
    display: flex;
}

.contents-small-circles > div {
    margin-right: 20px;
}

.contact-small-circles > div {
    margin-left: 20px;
    margin-top: 20px;
}

.footer-right {
    width: 400px;
}

.footer-info {
    text-align: left;
    color: #fff;
    margin-bottom: 1px;
}

h5.footer-info {
    font-weight: bold;
}

.available-time {
    text-align: left;
    color: #fff;
    margin-left: 6px;
}

.available-time > p:last-child {
    font-weight: bold;
    font-size: 1.1em;
}

.footer-info-wrap {
    padding-top: 5px;
    padding-right: 25px;
}
